<!DOCTYPE html> 
<html>
    <head>
        <title>MedicalCard</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <form action="/medcard" method="post">
            <div>

            </div>
            <div>
                <p class="p1" > <%= name %> </p>
                <img src="/medcard/Barcodes?idno=<%= idno %>&name=<%= name %>" height="100" width="100" class="p2">    
                <p class="p2"> <%= idno %> </p>
            </div>
            <div>
\                <p class="p1" >&nbsp;</p>
                <input type="submit" value="이미지 다운로드" style="width:500px;height:60px;font-size:30px;" class="center">
            </div>
        </form>
    </body>
</html>
